.DS_store
.eggs
.tox
*egg-info
*__pycache__
*.pyc
.pytest_cache
.mypy_cache\
.env
.cache
*.todo

Pipfile
Pipfile.lock

build/
dist/
env/

migration/
tests/
forge/errors.py
setup.py

*.rvt
*.rcs
*.pdf
*.dwg
*.csv